<li>
  <div class='todos_header_container list_item'>
    <div class='todos_icon_cont {{category}}'></div>
    <div class='todos_note_category_cont'>{{category}}</div>
    <div class='todos_active_cont'>{{active}}</div>
    <div class='todos_archived_cont'>{{archivedAmount}}</div>
  </div>
</li>